profiles {

// enable docker

  docker {
    docker.enabled = true
  }
}
// ## GLOBAL OPTIONS
// docker profiles
// docker load for current user and current group
// $PWD is load to /mnt
// /mnt is working directory

process {
// for pvacseq module
  withName: "star_human|star_virus" {
    container = 'community.wave.seqera.io/library/rsem_star:5acb4e8c03239c32'
    containerOptions = '--rm -u $(id -u):$(id -g) -v $PWD:/mnt -w /mnt'
  }

  withName: "vepitope_predictions" {
    container = 'pcv/pvacbind_virus:1'
    containerOptions = '--rm -u $(id -u):$(id -g) -v $PWD:/mnt -w /mnt'
  }

}
