profiles {

// enable docker

  docker {
    docker.enabled = true
  }
}
// ## GLOBAL OPTIONS
// docker profiles
// docker load for current user and current group
// $PWD is load to /mnt
// /mnt is working directory

process {
// for pvacseq module
  withName: "star_human|star_virus" {
    container = 'community.wave.seqera.io/library/rsem_star:5acb4e8c03239c32'
    containerOptions = '--rm -u $(id -u):$(id -g) -v $PWD:/mnt -w /mnt'
  }

  withName: "vepitope_predictions" {
    container = 'pcv/pvacbind_virus:1'
    containerOptions = '--rm -u $(id -u):$(id -g) -v $PWD:/mnt -w /mnt'
  }

  withName: "vepitope_predictions_mixmhc" {
    container = 'pcv/mixmhc:1'
    containerOptions = '--rm -u $(id -u):$(id -g) -v $PWD:/mnt -v "/backup/home/_data/microcrisper/Desktop/MCdata/Akshay/viral_peptide/nextflow2/phantom_viral_37/docker/pyscripts":/extra -w /mnt'
  }

  withName: "qc_fastp" {
    container = 'quay.io/biocontainers/fastp:0.23.4--h5f740d0_0'
    containerOptions = '--rm -u $(id -u):$(id -g) -v $PWD:/mnt -w /mnt'
  }

  withName: "qc_fastqc" {
    container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    containerOptions = '--rm -v $PWD:/mnt -w /mnt'
  }

}
