
params {
    // define templates and input csv file
    input_csv              = null
    sarek_template         = "${projectDir}/input_template/sarek_input.csv"
    rnaseq_template        = "${projectDir}/input_template/rnaseq_input.csv"
    rnafusion_template     = "${projectDir}/input_template/rnafusion_input.csv"
    hlatyping_template     = "${projectDir}/input_template/hlatyping_input.csv"
    tronflow_template      = "${projectDir}/input_template/tronflow_input.csv"
    neoantigen_template    = "${projectDir}/input_template/neoantigen_input.tsv"
    phantom_viral_template = "${projectDir}/input_template/phantom_viral_input.tsv"

    // workflows is a place holder for initializing value it is evaluated first based on hla found and then by custom_workflow        
    workflows               = 'sarek,rnaseq,rnafusion,hlatyping,tronflow,neoantigen'
    params.custom_wrokflow  = 'none'
    pipeline_input          = "${launchDir}/input_csv"
    output_final            = "${launchDir}"
    // outdir                  = "results" //dont use : outdir is parameter for most of the pipelines included will break the logic
    
    // default options for pipeline run nf core and others
    // also initialize the input csv
    general.wf_opts         = '-resume -ansi-log false'    
    
    sarek.input          = null
    sarek.params_file    = "${projectDir}/params/sarek_params.yaml"
    sarek.wf_opts        = '-profile docker -r 3.5.1'
    sarek.add_config     = "${projectDir}/configs/multiqc.config"

    rnaseq.input            = null
    rnaseq.params_file      = "${projectDir}/params/rnaseq_params.yaml"
    rnaseq.wf_opts          = '-profile docker -r 3.19.0'
    rnaseq.add_config       = "${projectDir}/configs/multiqc.config"

    rnafusion.input       = null
    rnafusion.params_file = "${projectDir}/params/rnafusion_params.yaml"
    rnafusion.wf_opts     = '-profile docker -r 3.0.2'
    rnafusion.add_config  = "${projectDir}/configs/multiqc.config"

    hlatyping.input       = null
    // hlatyping.params_file = "${projectDir}/params/hlatyping_params.yaml"
    hlatyping.wf_opts     = '-profile docker -r 2.1.0'
    hlatyping.add_config  = "${projectDir}/configs/multiqc.config"

    tronflow.input_fastqs = null
    tronflow.params_file         = null
    tronflow.wf_opts             = null
    tronflow.add_config          = null
    //tronflow.add_config          = "${projectDir}/configs/multiqc.config"

    neoantigen.samplesheet  = null
    neoantigen.params_file  = "${projectDir}/params/neoantigen_params.yaml"
    neoantigen.wf_opts      = '-profile docker'
    neoantigen.add_config   = "${projectDir}/configs/multiqc.config"

    phantom_viral.samplesheet = null
    phantom_viral.params_file = "${projectDir}/params/phantom_viral_params.yaml"
    phantom_viral.wf_opts     = '-profile docker'
    phantom_viral.add_config     = "${projectDir}/configs/multiqc.config"


    //input for neoantigen
    params.wes_only = false
    params.pvacseq_only = false
}

resume = true


// output directory is chaged dynamically inside main.nf with respect to output_final
// process {
//     // errorStrategy = 'finish' // Important, otherwise concurrent running of workflows may kill the other on error leaving a lock file present
//     // withName: 'NFCORE_SAREK' {
//     //     publishDir = "$params.outdir/sarek"
//     // }
//     // withName: 'NFCORE_RNASEQ' {
//     //     publishDir = "$params.outdir/rnaseq"
//     // }
//     // withName: 'NFCORE_RNAFUSION' {
//     //     publishDir = "$params.outdir/rnafusion"
//     // }
//     // withName: 'NFCORE_HLATYPING' {
//     //     publishDir = "$params.outdir/hlatyping"
//     // }
//     withName: 'TRONFLOW' {
//         publishDir = { "$params.outdir/tronflow" }
//     }
// }

timeline {
  enabled = true
  file = "${params.output_final}/reports/timeline.html"
}

trace {
  enabled = true
  file = "${params.output_final}/reports/trace.txt"
}

report {
  enabled = true
  file = "${params.output_final}/reports/report.html"
}

//dag {
//  enabled = true
//  file = "${params.output_final}/reports/flowchart.png"
//}

//log {
//  enabled = true
//  file = "${params.output_final}/reports/execution.log"
//}
