includeConfig 'conf/profiles.config'

// Params block
params {

    GRCH37{
      human_genomeDir          = "${projectDir}/reference_GRCH37/human/star_2.7.10b"
      human_reference_gtf      = "${projectDir}/reference_GRCH37/human/star_2.7.10b/reference.gtf"
      virus_genomeDir          = "${projectDir}/reference_GRCH37/virus/star_2.7.10b"
      virus_reference_gtf      = "${projectDir}/reference_GRCH37/virus/star_2.7.10b/reference.gtf"
      human_reference_lutfile  = "${projectDir}/reference_GRCH37/reference.LUT.human.gtf"
      virus_reference_lutfile  = "${projectDir}/reference_GRCH37/reference.LUT.virus.gtf"
      human_proteome           = "${projectDir}/reference_GRCH37/human.reference.proteome.fasta"
      immunogenic_peptide_info_mixmhc = "${projectDir}/reference/epiTOPes_v7_immunogenic_peptides.virus.final.txt"
      immunogenic_peptide_info = "${projectDir}/reference/immunogenic_epitopes.tsv" 

    }

    GRCH38{
      human_genomeDir          = "/backup/volume/common_files/RNAseq_ref/STAR_INDEX"
      human_reference_gtf      = "/backup/volume/common_files/RNAseq_ref/genes.gtf"
      virus_genomeDir          = "${projectDir}/reference/star_index"
      virus_reference_gtf      = "${projectDir}/reference/reference_virus.gtf"
      human_reference_lutfile  = "${projectDir}/reference/reference.LUT.human.gtf"
      virus_reference_lutfile  = "${projectDir}/reference/reference.LUT.virus.gtf" 
      human_proteome           = "${projectDir}/reference/reference.proteome.fasta"
      immunogenic_peptide_info_mixmhc = "${projectDir}/reference/immunogenic_epitopes_for_mixmhc.tsv"
      immunogenic_peptide_info = "${projectDir}/reference/immunogenic_epitopes.tsv"
    }

    virus_proteome = "${projectDir}/reference/reference.proteome.virus.fasta"
    outdir     = null
    cpus = 8
    max_memory = null
    fastp_length_required = 0
    fastp_qualified_quality_phred = 0
    fastp_unqualified_percent_limit = 0
    use_mixmhc = true
    help = false
    genome = "GRCH37"
}


// Assign default options
params.outdir     = params.outdir ?: "$launchDir/results"
params.max_memory = params.max_memory ?: '100 GB'

// Process resources
process {
  withName: '.*' {
    cpus   = params.cpus
    memory = params.max_memory
  }
}

// Docker config
docker {
    enabled = true
    runOptions = "--memory=200g --memory-swap=200g"
}


timeline {
  enabled = true
  file = "${params.outdir}/reports/timeline.html"
}

trace {
  enabled = true
  file = "${params.outdir}/reports/trace.txt"
}

report {
  enabled = true
  file = "${params.outdir}/reports/report.html"
}

dag {
  enabled = true
  file = "${params.outdir}/reports/flowchart.png"
}

log {
  enabled = true
  file = "${params.outdir}/reports/execution.log"
}
